.bg{
    background-color: rgb(36, 36, 36);
    border: 2px solid ;
    border-radius: 0px 33px;
}
.card {
    /* max-width: 200px; */
    justify-content: center;
    display: flex;
    align-items: center;
}
img{
    max-width: 200px;
}
h5,li{
    color: antiquewhite;
}
p{
    color: aqua;
}

.submit-btn{
    background-color: red;
}